rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function userDoc() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data;
    }

    function userTeamId() {
      return userDoc().teamId;
    }

    function isTeamMember(teamId) {
      return isSignedIn() && userTeamId() == teamId;
    }

    function isTeamManager(teamId) {
      return isTeamMember(teamId)
        && (
          userDoc().userRole == 'Manager'
          || userDoc().permissionRole == 'Administrateur'
        );
    }

    match /teams/{teamId}/{allPaths=**} {
      allow read: if isTeamMember(teamId);
      allow write, delete: if isTeamManager(teamId)
        || (isTeamMember(teamId) && allPaths.matches('riders/' + request.auth.uid + '/.*'))
        || (isTeamMember(teamId) && allPaths.matches('staff/' + request.auth.uid + '/.*'))
        || (isTeamMember(teamId) && allPaths.matches('expenseReceipts/' + request.auth.uid + '/.*'))
        || (isTeamManager(teamId) && allPaths.matches('equipment/.*'));
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if isSignedIn() && request.auth.uid == userId;
      allow write, delete: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
